@import "./variables.css";

header {
  background-color: var(--primary-color);
  color: white;
  padding: 0 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: normal;
}

/* DESCRIPTION  */
/*
header: header tag for the website
logo-container: the anchor tag of the website logo
name: name of the app (if you want to display it)
header-navbar: a div container for hamburger icon and header elements;
hamburger-div: div container for the hamburger image;
hamburger: hamburger image;
navbar-menu: a div container for all navbar elements;
navbar-element: single navbar element that contains a link;
*/

/* You can change the style of the header customizing the following CSS lines */
/* STYLES */
#name {
  display: flex;
  margin: auto 0.5em;
  font-family: cursive;
}

.navbar-element {
  background-color: white;
  color: var(--primary-color);
  font-weight: bold;
  border-radius: 10px;
  justify-content: center;
  transition: 0.3s;
}
.navbar-element:hover {
  background-color: var(--hover-color);
  color: white;
}
@media only screen and (min-width: 1024px) {
  .navbar-element {
    width: 120px;
  }
}

/* You should NOT change the following CSS to use the navbar functionality */
/* HEADER FUNCTIONALITY */
.logo-container {
  display: flex;
  height: 3em;
}
.logo-container img {
  display: block;
  width: 3em;
  max-height: 100%;
}
.header-navbar {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  margin: auto 0;
}
.hamburger-div {
  display: flex;
}
.hamburger-div img {
  cursor: pointer;
}
.hamburger {
  margin: auto;
  width: 2em;
  height: 2em;
  display: inline-block;
}
.navbar-menu {
  width: 100%;
  display: none;
}
.navbar-element {
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  margin: 0.5em;
}

@media only screen and (min-width: 1024px) {
  .header-navbar,
  .navbar-menu {
    display: flex;
    flex-direction: row;
  }
  .hamburger-div {
    display: none;
  }
  .navbar-element {
    flex-direction: row;
  }
}

/* NAVBAR FUNCTIONALITY */
/* Classes used to manage user clicks on hamburger image */
.opened-menu {
  display: flex;
  flex-direction: column;
}
.opened-navbar {
  width: 100%;
}
.hidden {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .opened-navbar {
    width: 50%;
  }
  .hidden {
    display: block;
  }
}
@media only screen and (min-width: 1024px) {
  .opened-menu {
    flex-direction: row;
  }
  .opened-navbar {
    width: auto;
  }
  .hidden {
    display: block;
  }
}
