body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  text-align: justify;
}

button {
  cursor: pointer;
}
label {
  display: block;
  align-items: center;
  flex-wrap: wrap;
}

.pre-label,
input,
select {
  width: 250px;
}
.pre-label {
  margin: 0.5em 0;
  font-weight: bold;
  color: #333;
  box-sizing: border-box;
}
.input-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.input-container input {
}
input,
select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
}

input:focus {
  border: 1px solid #000;
  outline: none;
}
.post-label {
  margin: auto 0.5em;
}
button {
  background-color: rgb(255, 106, 0);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(215, 91, 2);
}

button,
label {
  margin: 0.5em;
}
.summary-table {
  display: flex;
  flex-direction: column;
  margin: 1em auto;
  text-align: center;
  font-size: 1em;
  overflow-x: scroll;
}
.summary-table .head,
.summary-table .body {
  display: flex;
  flex-direction: row;
  font-weight: bold;
}
.summary-table .head div,
.summary-table .body div {
  width: calc(100% / 5);
  min-width: 150px;
  margin: 0;
  padding: 0.5em;
  border: 1px solid black;
}

.summary-table .head div {
  background-color: rgb(255, 106, 0);
  color: white;
}
.error-message {
  color: red;
}
.page-body {
  padding: 1em;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .page-body {
    padding: 2em;
  }
}

@media only screen and (min-width: 1024px) {
  .page-body {
    padding: 2em;
  }
}
h1 {
  text-align: center;
}
h3 {
  color: black;
  margin: 0;
}

.chart {
  width: 50%;
  height: 400px;
}

a {
  margin: 1em;
  color: white;
  text-decoration: none;
}

.pdf-view {
  height: 100vh;
  width: 100vw;
  overflow: auto;
}
.document-version {
  font-style: italic;
  font-size: small;
}
