header {
  background-color: rgb(255, 106, 0);
  color: white;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: normal;
}
.header-navbar {
  display: flex;
}
.header-link {
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  margin: 0.5em;
  background-color: white;
  color: rgb(255, 106, 0);
  font-weight: bold;
  border-radius: 10px;
  width: 80px;
  justify-content: center;
  transition: 0.3s;
}
.header-link:hover {
  background-color: rgb(221, 101, 16);
  color: white;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

@media only screen and (min-width: 1024px) {
}
